/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-two-columns {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

mat-icon.lg {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
}

mat-icon.xl {
  font-size: 4rem;
  height: 4rem;
  width: 4rem;
}

@media (min-width: 768px) {
  .grid-two-columns {
    grid-template-columns: 1fr 1fr;
  }
}

.p2 {
  padding: .5rem;
}
