.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-color: black !important;
  border-width: 2px !important;
}

img {
  max-width: 80vw;
}
